<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/premst/Desktop/jbehavesample/jbehavesamples">
        <classes><class name="runners.StoryRunner1"><methods><include name="run"/></methods></class></classes>
    </test></suite>